@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 0;
  min-height: 100vh;
}

#root {
  min-height: 100vh;
}

@layer base {
  body {
    @apply bg-bb-bg text-bb-ink font-sans antialiased;
  }

  input,
  textarea,
  select {
    outline: none;
  }
}
